form input {
  padding: 10px;
  margin: 15px;
  border: none;
  border-bottom: 0.001rem solid black;
}

input:focus {
  outline: none;
}

input::placeholder {
  font-size: larger;
  letter-spacing: 2px;
}

form button {
  margin: 15px;
  padding: 12px;
  color: white;
  font-size: larger;
  border: none;
}

form button.submit {
  background-color: #44c2e5;
}

form button.clear {
  background-color: #e74e62;
}
