.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.users {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.users .user img {
  width: 200px;
  height: 200px;
}

.users .user {
  background-color: #dcede9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  border-radius: 5px;
  padding-bottom: 10px;
}

.users .user h3 {
  text-transform: uppercase;
}

.users .user .link-user {
  color: #4a91f5;
  font-size: 1.1rem;
  text-decoration: none;
}
