header {
  background-color: #212529;
  width: 100vw;
}
header h2 {
  color: white;
  padding: 10px;
  font-family: cursive;
  letter-spacing: 5px;
}

header h2 span {
  color: #ddc153;
}

.header-links a {
  margin: 20px;
  font-size: 1.4rem;
  text-decoration: none;
  color: white;
}
