.like,
.delete,
.edit {
  cursor: pointer;
  font-size: 3rem;
}

.edit {
  color: dodgerblue;
}

h3,
h4,
p {
  font-family: cursive;
  padding: 10px;
}

h3 {
  background-color: #ddc153;
  color: white;
  text-transform: uppercase;
}

.likes {
  font-size: 1.1rem;
}
